@import url('https://fonts.googleapis.com/css2?family=Fraunces:opsz,wght@9..144,700&family=Montserrat:wght@200;500;700&display=swap');

/* font-family: 'Fraunces',
serif;  700

font-family: 'Montserrat',
sans-serif;   500 700 */

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

html {
  font-size: 62.5%;
}

:root {
  --fs-main: 1.4rem;

  --fw-700: 700;
  --fw-500: 500;

  --clr-btn-cyan: hsl(158, 36%, 37%);
  --clr-btn-cream: hsl(30, 38%, 92%);

  --clr-dark-blue: hsl(212, 21%, 14%);
  --clr-grayish-blue: hsl(228, 12%, 48%);
  --clr-white: hsl(0, 0%, 100%);
}

body {
  font-size: var(--fs-main);
  color: var(--clr-grayish-blue);
  font-family: 'Montserrat',
    sans-serif;
  font-weight: var(--fw-500);
  background-color: #eee;
}

/* =====Typography===== */

.product-name-light {
  font-size: 1.4rem;
  font-weight: var(--fw-500);
  text-transform: uppercase;
  letter-spacing: 2px;
  display: block;
  margin-bottom: 1em;
}

.product-name-bold,
.product-price-new {
  font-size: 3rem;
  font-family: 'Fraunces',
    serif;
  font-weight: var(--fw-700);
}

.product-name-bold {
  color: var(--clr-dark-blue);
  line-height: 1;
}

.product-text {
  line-height: 1.4;
  word-spacing: 3px;
  margin: 1em 0 2em 0;
}

.product-price-new {
  color: var(--clr-btn-cyan);
  margin-right: .8em;
}

.submit span {
  font-weight: var(--fw-700);
  color: var(--clr-btn-cream);
  margin-left: .3em;
}

/* =====Layout===== */

.container {
  width: 90%;
  max-width: 500px;
  margin: 150px auto;
  margin-bottom: 90px;
  background-color: var(--clr-white);
  border-radius: 10px;
}

.product-img img {
  display: block;
  width: 100%;
  height: 280px;
  border-radius: 10px 10px 0 0;
}


.product-info {
  padding: 1.5em 1.8em;
}

/* To center the old price */

.product-price {
  display: flex;
  margin-bottom: 1em;
}

.product-price-old {
  align-self: center;
}

/* Button */
.submit {
  background-color: var(--clr-btn-cyan);
  width: 100%;
  height: 50px;
  border: none;
  border-radius: 10px;
}

.submit:hover {
  background-color: hsl(158, 34%, 27%);
  cursor: pointer;
}

/* ========
  Desktop Layout
  ======== */

@media (min-width: 750px) {

  .container {
    display: flex;
    max-width: 650px;
    height: 400px;
  }

  .product-img {
    width: 50%;
    border-radius: 10px 0 0 10px;
    height: 100%;
  }

  .product-img img {
    width: 100%;
    height: 100%;
    border-radius: 10px 0 0 10px;
  }

  .product-info {
    width: 50%;
    padding: 1.8em 2em;
  }

  /*Adjusting Margin*/

  .product-name-light {
    margin-bottom: 1.5em;
  }

  .product-text {
    margin: 1.5em 0 2.5em 0;
  }

  .product-price {
    margin-bottom: 1.5em;
  }
}

/* =====Footer===== */

.attribution {
  font-size: 1.3rem;
  color: hsl(0, 0%, 25%);
  margin: 4em auto;
  width: 90%;
  text-align: center;
}

.attribution a {
  color: hsl(228, 45%, 44%);
}